// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

li.online-user {
    transition: background-color 250ms 0s;
    cursor: pointer;

    &:hover {
        background-color: #ececec;
    }
}
