<template>
    <div v-if="this.call">
        <div>
            <video
                id="remoteview"
                autoplay
                :srcObject.prop.camel="this.remoteview"
            ></video>
        </div>

        <div>
            <video
                id="selfview"
                autoplay
                muted
                style="width: 40%;"
                :srcObject.prop.camel="this.selfview"
            ></video>

            <input
                type="button"
                style="float:right;"
                value="Hangup"
                v-on:click="close_call"
                v-if="remoteview"
            />
        </div>

    </div>
</template>

<script>


    import {mapGetters, mapActions} from 'vuex';

    export default {
        data() {
            return {

            };
        },
        props: {

        },
        created(){

        },
        mounted() {
            var vue = this;

            window.peer.on('call', function(call) {
                vue.set_call(call);
                vue.answer_call(call);

                call.on('close', function(){
                    // the one hung up on gets this one
                    vue.set_call('');

                })
            });

        },
        computed: {
            ...mapGetters([
                'selfview',
                'remoteview',
                'call'
            ]),
        },
        methods: {
            ...mapActions([
                'answer_call',
                'set_call',
                'remove_selfview',
                'remove_remoteview'
            ]),

            close_call: function(){
                // the initiator of the hang up gets this
                this.call.close();
                this.set_call('');
            }

        },
    };
</script>
