<!--  -->
<template>
    <div>
        <ul class="list-group">
            <li
                class="list-group-item online-user"
                v-for="(user, index) in users"
                v-bind:key='user.id'
                v-if="user.id !== currentuserid"
            >
                <span  class="user">{{ user.name }}</span>
                <input
                    type="button"
                    style="float:right;"
                    value="Call"
                    v-on:click="call_user({ calling : user.peerid, caller: currentuserid})"
                    v-if="user.peerid"
                />
            </li>
        </ul>
    </div>

</template>

<script>
    // var socket = new Pusher('9623324fb6243ac54943', {
    //     cluster: 'us2'
    // });
    // const channel = socket.subscribe("presence-videochat");

    import {mapState, mapGetters, mapActions} from 'vuex';


    export default {
        data() {
            return {

            };
        },
        props: {
            currentuserid: Number
        },

        created(){

        },
        mounted() {
            var vue = this;

            // window peer
            window.peer.on('open', function(id) {
                axios.post('/user/add_userPeerID', {
                        peerid: id
                }).then(function($response){
                    window.channel = Echo.join('online')
                        .here(users => {
                            vue.update_users(users);
                        })
                        .joining( user => {
                            vue.add_user(user);
                        })
                        .leaving(user => {
                            vue.remove_user(user);

                        })
                })
            });

        },
        computed: {
            ...mapGetters([
                'users',
                'peerid',
            ]),
        },
        methods: {
            ...mapActions([
                'add_user',
                'update_users',
                'remove_user',
                'call_user',
                'update_peerid',
                'update_user_peerid',
            ]),

        },
    };
</script>

<style scoped>

</style>
